<footer>
  <div class="footer__container">
    <img src="assets/playstation-white.png" alt="">
    <div class="footer-links__container">
      <ul>
        <li><a href="https://www.playstation.com/pt-br/support/" target="_blank">Suporte</a></li>
        <li><a href="" target="_blank">Política de privacidade</a></li>
        <li><a href="" target="_blank">Termos de uso do site</a></li>
        <li><a href="" target="_blank">Mapa do site</a></li>
        <li><a href="" target="_blank">PlayStation Studios</a></li>
        <li><a href="" target="_blank">Legal</a></li>
        <li><a href="" target="_blank">Sobre a SIE</a></li>
      </ul>
      <ul>
        <li><a href="" target="_blank">Termos de serviço da PSN</a></li>
        <li><a href="" target="_blank">Política de cancelamento da PS Store</a></li>
        <li><a href="" target="_blank">Avisos de saúde</a></li>
        <li><a href="" target="_blank">Sobre as classificações</a></li>
      </ul>
      <ul>
        <li><a href="" target="_blank">Facebook</a></li>
        <li><a href="" target="_blank">Twitter</a></li>
        <li><a href="" target="_blank">YouTube</a></li>
        <li><a href="" target="_blank">Instagram</a></li>
        <li><a href="" target="_blank">Aplicativos para Android</a></li>
        <li><a href="" target="_blank">Aplicativos para iOS</a></li>
      </ul>
    </div>
    <span class="copyright"> © 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</span>
    <span class="developed">Developed by
      <a href="#" target="_blank">Elizabete Fabri  💙💙💙</a>
    </span>
  </div>
</footer>
