<div class="home__container">
  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/159/265/142dd38e-df8f-4663-823c-2d4d1a1bd3e4.jpg"
    gameLabel="EDIÇÃO DIGITAL DELUXE"
    gameTitle="Marvel's Spider-Man 2"
    gameType="PS5"
    gamePrice="R$399,50"
    ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/162/380/12801dac-7d4f-4cb4-b2a6-b2a89a8b1998.jpg"
    gameLabel="EDIÇÃO BLACK"
    gameTitle="Edição Black Mamba do NBA 2K24"
    gameType="PS5 | PS4"
    gamePrice="R$499,50"
    ></app-card>

    <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/163/267/e5a24f41-5650-436f-ab33-f3796ad91a43.png"
    gameLabel="EDIÇÃO ULTIMATE"
    gameTitle="EA SPORTS FC™ 24 para PS4™ e PS5™"
    gameType="PS5"
    gamePrice="R$528,90"
    ></app-card>

    <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/161/944/3abbfb66-247e-454e-8fcb-f3b953431f76.png"
    gameLabel="ACTIVISION"
    gameTitle="Call of Duty®: Modern Warfare® III"
    gameType="MWIII MULTIGERAÇÃO"
    gamePrice="R$299,00"
    ></app-card>

</div>
