<header>
  <div class="container">
    <div class="logo__container">
      <img
      src="assets/ps-logo.png"
      width="200px"
      height="max-content"
      alt="">
    </div>
    <nav>
      <a [routerLink]="['']" class="nav__link">Novidades</a>
      <a [routerLink]="['']" class="nav__link">Coleções</a>
      <a [routerLink]="['']" class="nav__link" [ngClass]="linkActive">Ofertas</a>
      <a [routerLink]="['']" class="nav__link">PS5</a>
      <a [routerLink]="['']" class="nav__link">Assinaturas</a>
      <a [routerLink]="['']" class="nav__link">Navegar</a>
    </nav>
  </div>
</header>
